body {
    background-color: lightblue;
}

/*header*/
div.right
{
    display: none;
}

/*menu*/
.logo{
    flex-direction: column;
}
.menu{
    flex-direction: column;
}
nav{
    display: none;
}

/* Noi Dung 1*/
.a {
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap; 
}

.a0{
    margin-top: 5px;
}

.a78 > h2{
    margin-top: 55px;
}

.a1 > h2 {
    font-size: 18px; /* Giảm kích thước font h2 */
}

.a1 > p {
    font-size: 13px; /* Giảm kích thước font p */
}

.a2,
.a3 {
    width: 50%; 
    box-sizing: none;
    height: 80px;
}
.a3{
    margin-bottom: 45px;
}

.ChiTiet > a{
    font-size: 10px;
    padding: 0.4rem;
}

/*Noi Dung 2*/
.b0 {
    width: 85%; /* Giảm chiều rộng phần tử .b0 */
}

.b1 {
    width: 100%; /* Giảm chiều rộng .b1 để căn theo chiều rộng của .b0 */
    margin-bottom: 20px; /* Điều chỉnh khoảng cách giữa các phần tử .b1 */
    height: 300px;
}

.b1 > div.overlay .text {
    font-size: 18px; /* Giảm kích thước font .text */
}

.b1 > div.overlay .text-hover {
    font-size: 16px; /* Giảm kích thước font .text-hover */
}
